<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzM_USfSBm21N8P-Awbwa6NQNh85CFVBI</string>
	<key>GCM_SENDER_ID</key>
	<string>66778843382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photographyGuide</string>
	<key>PROJECT_ID</key>
	<string>photography-guide-76359</string>
	<key>STORAGE_BUCKET</key>
	<string>photography-guide-76359.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66778843382:ios:92aa32fce80205fa8784d7</string>
</dict>
</plist>